.search-form {
  margin: 30px 0;
  padding: 25px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
  z-index: 5;
  background-color: #fff;

  &__body {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  &__label,
  &__error,
  &__success {
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
  }

  &__error {
    color: #9F0013;
  }

  &__success {
    color: #03710E;
  }

  &__row {
    display: flex;
    gap: 24px;
    align-items: center;

    & > input, & > div {
      &:first-child {
        flex: 1 1 auto;
      }
    }
  }

  &__input {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    outline: none;
    padding: 10px;
    font-size: 14px;
    line-height: 16px;
    &::placeholder {
      color: rgba(#000,0.5);
    }
  }
}
